$space-large: 2.5rem;
$title-color: #555;
// this is a variable. Css has no support for variable. This is SASS my friend

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search]{
  box-shadow: none;
}
